@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800;900&family=Rubik:wght@400;500;600;700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
:root {
  --color: #fbd765;
  --colorlight: #fadf83;
  --color-dark: #3a376f;
  --color-hover: #4e4b7d;
  --title: #393f44;
  --text: #868e96;
  --text-light: #ffffffb3;
  --color-light: #c4c1f4;
  --color-lighter: #bdcaf2;
  --section-bg: #fbf9f9;
  --body-font: "Open Sans", sans-serif;
  --biggest-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.75rem;
}
@media screen and (min-width: 768px) {
  :root {
    --biggest-font-size: 3.125rem;
    --h1-font-size: 2rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.75rem;
  }
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
figure,
h1,
h2,
h3,
h4 {
  margin: 0px !important;
  color: var(--title);
}
h1,
h2,
h3,
h4 {
  font-family: "Nunito", sans-serif;
}
p {
  margin: 0 !important;
  color: var(--text);
  font-family: "Rubik", sans-serif;
}
a {
  font-family: "Rubik", sans-serif;
  text-decoration: none !important;
}
body {
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  font-family: "Rubik", sans-serif;
}
section {
  overflow: hidden !important;
}
#backTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  background-color: var(--color);
  -webkit-transition: 700ms;
  transition: 700ms;
  border: none;
  z-index: 999;
}
#backTop:hover {
  background-color: var(--colorlight);
}
.top-info {
  padding: 10px 0;
}
.b-icon {
  margin-right: 5px;
  display: inline-block;
}
.info {
  font-size: 0.8rem;
  margin-right: 20px;
}
.header {
  width: 100%;
  background-color: var(--color-dark);
}
.navbar-brand img {
  width: 150px;
  height: 28px;
}
.navbar-nav .nav-item {
  margin-left: 15px;
}
.navbar-toggler {
  border: none !important;
}
.navbar-toggler-icon svg {
  fill: var(--color);
  width: 1.5em;
  height: 1.5em;
}
.nav-link {
  color: #fff !important;
  -webkit-transition: 700ms;
  transition: 700ms;
}
.nav-link.active {
  color: var(--color) !important;
  font-weight: bold !important;
}
.nav-link:hover {
  color: var(--color) !important;
}
@media (max-width: 992px) {
  .logo {
    z-index: 3;
  }
  .offcanvas-lg {
    color: var(--title) !important;
    background-color: var(--color-dark) !important;
    -webkit-transition: 700ms;
    transition: 700ms;
  }
  .offcanvas-lg .close-menu {
    background-color: transparent !important;
    border: none !important;
    color: #fff !important;
  }
  .offcanvas-lg .navbar-nav {
    margin-top: 50px;
    margin-left: 10px;
  }
  .offcanvas-lg .navbar-nav .nav-item {
    -webkit-margin-after: 10px;
    margin-block-end: 10px;
  }
  .offcanvas-lg .navbar-nav .nav-item .nav-link {
    font-size: var(--h3-font-size) !important;
  }
}
#hero {
  width: 100%;
  height: auto;
  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      from(rgb(0, 0, 0, 0.6)),
      to(rgb(0, 0, 0, 0.6))
    ),
    url("images/hero.webp");
  background-image: linear-gradient(
      to top,
      rgb(0, 0, 0, 0.6),
      rgb(0, 0, 0, 0.6)
    ),
    url("images/hero.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
}
.hero {
  padding: 50px 0;
}
.hero-content {
  -webkit-margin-after: 30px;
  margin-block-end: 30px;
}
.hero-title {
  color: #fff;
  text-transform: capitalize;
  font-size: 1.5rem !important;
  font-weight: 800 !important;
}
.hero-text {
  color: var(--text-light);
  font-size: var(--small-font-size) !important;
}
.hero-btn .btn {
  padding: 10px 20px;
  background: var(--color-dark);
  color: var(--color);
  margin-right: 10px;
  text-transform: uppercase;
  font-size: var(--small-font-size) !important;
  font-weight: 600;
  border: none;
  -webkit-transition: 700ms;
  transition: 700ms;
}
.hero-btn .btn:hover {
  background: var(--color-hover) !important;
  color: #fff;
}
.hero-btn .btn:nth-child(2) {
  background: #fff;
  color: var(--color-dark);
}
.hero-btn .btn:nth-child(2):hover {
  color: var(--color-dark);
  background-color: var(--color) !important;
}
.hero-img img {
  width: 100% !important;
  height: 100% !important;
  -o-object-fit: contain;
  object-fit: contain;
}
@media screen and (min-width: 576px) {
  .hero-title {
    font-size: 2rem !important;
  }
  .hero-text {
    font-size: var(--normal-font-size) !important;
  }
}
@media screen and (min-width: 768px) {
  #hero {
    height: auto;
  }
  .hero {
    padding: 130px 0;
  }
  .hero-title {
    line-height: 1.1;
    font-size: 2.8rem !important;
    font-weight: 800;
  }
  .hero-text {
    font-size: var(--normal-font-size);
  }
  .hero-btn .btn {
    font-size: var(--normal-font-size) !important;
  }
}
@media screen and (min-width: 992px) {
  .hero-title {
    font-size: var(--biggest-font-size) !important;
  }
  .hero-text {
    font-size: var(--h2-font-size) !important;
  }
}
@media screen and (min-width: 1200px) {
  #hero {
    height: 100vh;
  }
  .hero {
    padding: 170px 0 0 !important;
  }
  .hero-title {
    font-size: 3.75rem !important;
  }
}
#about {
  padding: 80px 0;
  background-color: var(--section-bg);
}
.about-img {
  width: 100%;
}
.about-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top center;
  object-position: top center;
}
.about-content h2 {
  color: var(--color-dark);
  font-weight: 700 !important;
}
.about-content p {
  color: var(--text);
  line-height: 1.6;
}
.about-content ul {
  color: var(--text);
}
.about-content ul li {
  margin-top: 15px;
}
@media screen and (min-width: 768px) {
  .about-img {
    height: 500px;
  }
}
@media screen and (min-width: 1200px) {
  .about-img {
    height: 450px;
  }
}
#services {
  padding: 50px 10px;
}
.heading {
  margin-bottom: 30px;
}
.heading h2 {
  font-size: 1.5rem !important;
  font-weight: 800 !important;
}
.heading p {
  font-size: 1.125rem;
}
.services .card {
  position: relative;
  color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 4px 20px -10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 20px -10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.card-title {
  color: var(--title);
  font-size: var(--h2-font-size) !important;
  font-weight: 700 !important;
}
.services .card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-dark);
  display: block;
  -webkit-transform: scaleY(0.02);
  transform: scaleY(0.02);
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
  -webkit-transition: 700ms;
  transition: 700ms;
}
.card-content {
  z-index: 1;
}
.card-content .icon {
  width: 70px;
  height: 70px;
  fill: var(--color-dark);
  margin-bottom: 20px;
}
.services .card:hover .card-overlay {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}
.services .card:hover .card-content .icon {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
  fill: #fff;
}
.services .card:hover .card-content .card-title {
  color: var(--color);
}
.services .card:hover .card-content .card-text {
  color: rgba(255, 255, 255, 0.7);
}
#portfolio {
  padding: 50px 0;
}
.filter-nav .btn {
  padding: 8px 25px;
  margin: auto 3px;
  border-radius: 20px;
  border: none !important;
  background-color: #746edf18;
}
.filter-nav .btn:hover {
  border: none;
  color: #fff !important;
  background: var(--color-hover) !important;
}
.filter-nav .btn:focus {
  background-color: none !important;
  border: none !important;
}
.filter-nav button.active {
  background-color: var(--color-dark);
  color: #fff;
}
.portfolio-container {
  position: relative;
}
.portfolio-wrap {
  position: relative;
  overflow: hidden;
  margin-top: 30px !important;
}
.portfolio-wrap img {
  width: 400px;
  height: 300px;
  object-fit: cover;
  -webkit-transition: 700ms;
  transition: 700ms;
}
.filter-item {
  -webkit-transition: 700ms !important;
  transition: 700ms !important;
}
.filter-item.hide {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: scale(0.6);
  transform: scale(0.6);
  z-index: -999;
  -webkit-transition: 700ms;
  transition: 700ms;
}
.portfolio-wrap:hover img {
  -webkit-transition: 700ms;
  transition: 700ms;
  -webkit-transition-delay: 700ms;
  transition-delay: 700ms;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.portfolio-info {
  width: 100%;
  height: 100%;
  background: rgb(251, 215, 101, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: scale(0.7);
  transform: scale(0.7);
  -webkit-transform-origin: center;
  transform-origin: center;
  opacity: 0;
  -webkit-transition: 700ms;
  transition: 700ms;
}
.portfolio-wrap:hover .portfolio-info {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
.portfolio-info:before {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  top: 15px;
  left: 15px;
  border-top: 3px solid var(--color-dark);
  border-left: 3px solid var(--color-dark);
  -webkit-transition: 700ms;
  transition: 700ms;
  z-index: 9994;
}
.portfolio-info:after {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 15px;
  right: 15px;
  border-bottom: 3px solid var(--color-dark);
  border-right: 3px solid var(--color-dark);
  -webkit-transition: 700ms;
  transition: 700ms;
  z-index: 9994;
}
.img-title {
  color: var(--color-dark);
  font-size: var(--h3-font-size) !important;
  font-weight: 800 !important;
}
.img-icon-link {
  width: 40px;
  height: 40px;
  display: inline-block;
  background: var(--color-dark);
  border-radius: 50%;
}
.img-icon-link .bi {
  color: var(--color) !important;
  font-weight: 600 !important;
  font-size: var(--h2-font-size) !important;
}
.lightbox {
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0;
  z-index: -2;
}
.close-box {
  color: #fff;
  font-size: 20px;
  position: absolute;
  top: 15px;
  right: 15px;
  font-weight: 500;
}
.lightbox-img {
  width: 300px;
  height: 230px;
  background: var(--section-bg);
  overflow: hidden;
}
.img-box {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.show-lightbox {
  z-index: 9999;
  opacity: 1;
  -webkit-transition: 300ms linear;
  transition: 300ms linear;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
@media screen and (min-width: 576px) {
  .lightbox-img {
    width: 450px;
    height: 300px;
  }
}
@media screen and (min-width: 768px) {
  .lightbox-img {
    width: 600px;
    height: 400px;
  }
}
#testimonials {
  padding: 50px 0;
  background-color: #fade8341;
}
.testifier {
  background: #fff;
  border-radius: 15px;
}
.testifier cite {
  font-size: var(--normal-font-size) !important;
  color: var(--text) !important;
}
.testifier .icon {
  font-size: 32px;
  color: var(--color-dark);
}
.testifier-info img {
  width: 50px;
  height: 50px;
  -o-object-fit: contain;
  object-fit: contain;
}
.testifier-info h3 {
  font-size: var(--h3-font-size) !important;
  color: var(--color-dark);
  font-weight: bold;
}
.testifier-info p {
  font-size: var(--normal-font-size) !important;
}
#team {
  padding: 50px 0;
}
.member {
  height: 350px;
  background: #fff;
  -webkit-box-shadow: 0 0px 24px -5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0px 24px -5px rgba(0, 0, 0, 0.15);
  border: 10px solid #fff;
  -webkit-margin-after: 30px;
  margin-block-end: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}
@media screen and (min-width: 992px) {
  .member {
    height: 300px;
  }
}
.member-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.member-details {
  width: 100%;
  position: absolute;
  bottom: 0;
}
.member-details .social-icons {
  position: relative;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  background-color: var(--color);
  -webkit-transform: translateY(60px);
  transform: translateY(60px);
  -webkit-transition: -webkit-transform 700ms;
  transition: -webkit-transform 700ms;
  transition: transform 700ms;
  transition: transform 700ms, -webkit-transform 700ms;
  transition: transform 700ms, -webkit-transform 700ms;
  transition: transform 700ms, -webkit-transform 700ms;
  transition: transform 700ms, -webkit-transform 700ms;
  transition: transform 700ms, -webkit-transform 700ms;
  transition: transform 700ms, -webkit-transform 700ms;
  transition: transform 700ms, -webkit-transform 700ms;
  transition: transform 700ms, -webkit-transform 700ms;
  transition: transform 700ms, -webkit-transform 700ms;
  transition: transform 700ms, -webkit-transform 700ms;
  transition: transform 700ms, -webkit-transform 700ms;
  transition: transform 700ms, -webkit-transform 700ms;
  transition: transform 700ms, -webkit-transform 700ms;
  transition: transform 700ms, -webkit-transform 700ms;
  transition: transform 700ms, -webkit-transform 700ms;
  transition: transform 700ms, -webkit-transform 700ms;
  transition: transform 700ms, -webkit-transform 700ms;
  transition: transform 700ms, -webkit-transform 700ms;
  transition: transform 700ms, -webkit-transform 700ms;
  transition: transform 700ms, -webkit-transform 700ms;
  transition: transform 700ms, -webkit-transform 700ms;
  transition: transform 700ms, -webkit-transform 700ms;
  transition: transform 700ms, -webkit-transform 700ms;
  transition: transform 700ms, -webkit-transform 700ms;
  transition: transform 700ms, -webkit-transform 700ms;
  transition: transform 700ms, -webkit-transform 700ms;
  transition: transform 700ms, -webkit-transform 700ms;
  transition: transform 700ms, -webkit-transform 700ms;
  transition: transform 700ms, -webkit-transform 700ms;
  transition: transform 700ms, -webkit-transform 700ms;
  transition: transform 700ms, -webkit-transform 700ms;
  transition: transform 700ms, -webkit-transform 700ms;
  transition: transform 700ms, -webkit-transform 700ms;
  transition: transform 700ms, -webkit-transform 700ms;
  transition: transform 700ms, -webkit-transform 700ms;
  transition: transform 700ms, -webkit-transform 700ms;
  transition: transform 700ms, -webkit-transform 700ms;
  transition: transform 700ms, -webkit-transform 700ms;
  transition: transform 700ms, -webkit-transform 700ms;
  transition: transform 700ms, -webkit-transform 700ms;
  transition: transform 700ms, -webkit-transform 700ms;
  transition: transform 700ms, -webkit-transform 700ms;
  transition: transform 700ms, -webkit-transform 700ms;
  transition: transform 700ms, -webkit-transform 700ms;
  transition: transform 700ms, -webkit-transform 700ms;
  transition: transform 700ms, -webkit-transform 700ms;
  transition: transform 700ms, -webkit-transform 700ms;
  transition: transform 700ms, -webkit-transform 700ms;
  transition: transform 700ms, -webkit-transform 700ms;
  transition: transform 700ms, -webkit-transform 700ms;
  transition: transform 700ms, -webkit-transform 700ms;
  transition: transform 700ms, -webkit-transform 700ms;
  transition: transform 700ms, -webkit-transform 700ms;
  transition: transform 700ms, -webkit-transform 700ms;
  transition: transform 700ms, -webkit-transform 700ms;
  transition: transform 700ms, -webkit-transform 700ms;
  transition: transform 700ms, -webkit-transform 700ms;
}
.member-details:hover .social-icons {
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}
.member .social-icons a {
  font-size: var(--h2-font-size) !important;
  color: var(--color-dark);
}
.member-info {
  width: 100%;
  background: var(--color-dark);
  position: relative;
  z-index: 1;
}
.member-info h3 {
  color: #fff;
  font-weight: 800;
  font-size: var(--h2-font-size) !important;
}
.member-info p {
  font-size: var(--normal-font-size) !important;
  color: var(--colorlight);
}
#clients {
  padding: 50px 0;
}
.swiper {
  width: 100%;
}
.swiper-slide {
  width: 100%;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}
.clients-img {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  opacity: 0.5;
  -webkit-transition: 700ms;
  transition: 700ms;
}
.swiper-slide:hover .clients-img {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  opacity: 1;
}
.swiper-pagination {
  position: static !important;
}
.swiper-pagination-bullet-active {
  background-color: var(--color-dark) !important;
}
#cta {
  width: 100%;
  height: auto;
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(43, 41, 83, 0.8)),
      to(rgb(78, 75, 125, 0.8))
    ),
    url("images/cta.webp");
  background: linear-gradient(rgba(43, 41, 83, 0.8), rgb(78, 75, 125, 0.8)),
    url("images/cta.webp");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding: 80px 0;
}
.cta-content h2 {
  font-weight: 800 !important;
  font-size: var(--h1-font-size);
  color: #fff;
  line-height: 1.2;
}
.cta-content h3 {
  font-size: var(--small-font-size);
  color: var(--color);
  font-weight: 600 !important;
  text-transform: uppercase;
  margin-bottom: 5px !important;
}
.cta .btn {
  display: inline-block;
  padding: 10px 20px;
  color: var(--color-dark) !important;
  font-weight: 700;
  background-color: var(--color) !important;
}
@media screen and (min-width: 768px) {
  .cta-content h2 {
    font-size: 3rem;
  }
  .cta-content h3 {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 992px) {
  .cta-content h2 {
    font-size: 3.5rem;
  }
  .cta-content h3 {
    font-size: 1.5rem;
  }
}
#why-us {
  padding: 50px 0;
  background: var(--section-bg);
}
.whychooseus-post {
  position: relative;
  background: -webkit-gradient(
      linear,
      left top,
      right bottom,
      from(rgb(255, 255, 255)),
      to(rgba(255, 255, 255, 0.9))
    ),
    url(images/why-us.webp);
  background: linear-gradient(
      to bottom right,
      rgb(255, 255, 255),
      rgba(255, 255, 255, 0.9)
    ),
    url(images/why-us.webp);
  background-size: contain;
  overflow: hidden;
  padding: 30px;
  -webkit-box-shadow: 0 6px 24px #0000000d;
  box-shadow: 0 6px 24px #0000000d;
}
.whychooseus-post .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-dark);
  border-radius: 1000px;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: bottom left;
  transform-origin: bottom left;
  opacity: 0;
  -webkit-transition: 700ms;
  transition: 700ms;
}
.whychooseus-post:hover .overlay {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  border-radius: 0;
  opacity: 1;
}
.whychooseus-post .details {
  position: relative;
  z-index: 2;
}
.whychooseus-post .details .title {
  font-size: 16px;
  color: var(--color-dark);
}
.whychooseus-post .details .description {
  font-size: 16px;
  color: var(--text);
}
.whychooseus-post:hover .details .title {
  color: var(--color);
}
.whychooseus-post:hover .details .description {
  color: var(--text-light);
}
#blog {
  padding: 70px 0;
}
.blog-post {
  height: 300px;
  position: relative;
  background-color: #fff;
  border-radius: 5px;
  border-radius: 10px;
  overflow: hidden;
}
.blog-post:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0.5;
  -webkit-transition: 700ms;
  transition: 700ms;
}
.blog-post:is(:hover, :focus-within):after {
  opacity: 0.9;
}
.blog-img img {
  width: 500px;
  height: 375px;
  -o-object-fit: cover;
  object-fit: cover;
}
.blog-content {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
  -webkit-transition: 700ms;
  transition: 700ms;
}
.blog-content .meta span {
  font-size: 14px;
  color: #fff !important;
}
.blog-title {
  font-size: 1.125rem;
  font-weight: bold;
  color: #fff !important;
}
.blog-btn {
  font-size: 0.875rem;
  background: #fff !important;
  color: var(--color-dark) !important;
  font-weight: 700 !important;
}
.blog-btn:hover {
  background: var(--color) !important;
}
.blog-post:is(:hover, :focus-within) .blog-content {
  -webkit-transform: translateY(-20px);
  transform: translateY(-20px);
}
#contact {
  padding: 50px 0;
  background: var(--section-bg);
}
.contact-card {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 6px 24px #0000000d;
  box-shadow: 0 6px 24px #0000000d;
  gap: 20px;
}
.card-icon {
  width: 50px;
  height: 50px;
  padding: 20px;
  background: #bdcaf21c;
  border-radius: 50%;
  -webkit-transition: 700ms ease;
  transition: 700ms ease;
}
.contact-card:hover .card-icon {
  background-color: var(--color-dark);
}
.card-icon .icon {
  display: block;
  font-size: 1.25rem;
  color: var(--color-dark) !important;
}
.contact-card:hover .card-icon .icon {
  color: #fff !important;
}
.contact-card .card-title {
  color: var(--title);
}
.contact-card .card-link {
  color: var(--text) !important;
}
.contact-form {
  padding: 30px;
  background: #fff;
  -webkit-box-shadow: 0 6px 24px #0000000d;
  box-shadow: 0 6px 24px #0000000d;
}
.input-wrapper {
  gap: 15px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.input-field {
  width: 100%;
  background-color: var(--section-bg);
  color: var(--text);
  padding: 15px;
  border: none;
  border-radius: 5px;
  outline: 0;
  outline-offset: 0;
  -webkit-margin-after: 15px;
  margin-block-end: 15px;
}
textarea.input-field {
  resize: vertical;
  min-height: 80px;
  height: 100px;
  max-height: 200px;
  -ms-scroll-chaining: none;
  overscroll-behavior: contain;
}
.input-field:focus {
  outline: 1px solid var(--color-dark);
}
.contact-form .btn {
  background: var(--color-dark);
  color: #fff !important;
}
.contact-form .btn:hover {
  background: var(--color-hover);
}
#footer {
  background-color: var(--color-dark);
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}
.footer-links h3 {
  color: var(--color);
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700 !important;
}
.footer-links a {
  display: block;
  color: rgba(255, 255, 255, 0.84);
  -webkit-margin-after: 10px;
  margin-block-end: 10px;
  font-size: 0.875rem !important;
}
.footer-links a:hover {
  color: #fff;
}
.newsletter .input-field {
  color: var(--color-dark);
}
.newsletter .input-field::-webkit-input-placeholder {
  color: var(--color-dark);
  font-weight: 500;
}
.newsletter .input-field::-moz-placeholder {
  color: var(--color-dark);
  font-weight: 500;
}
.newsletter .input-field:-ms-input-placeholder {
  color: var(--color-dark);
  font-weight: 500;
}
.newsletter .input-field::-ms-input-placeholder {
  color: var(--color-dark);
  font-weight: 500;
}
.newsletter .input-field::placeholder {
  color: var(--color-dark);
  font-weight: 500;
}
.newsletter .input-field:nth-child(2) {
  background: var(--color);
  text-transform: uppercase;
  font-weight: bold !important;
  font-size: 0.875rem !important;
  color: var(--color-dark);
}
.newsletter .input-field:nth-child(2):hover {
  background: var(--colorlight);
}
.copyright-text {
  color: rgba(255, 255, 255, 0.84);
}
.copyright-text .logo {
  font-size: 0.875rem !important;
  color: var(--color) !important;
}
